In [1]:
from data_handler import CHSIDataHandler
from sklearn.linear_model import RidgeCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
#truncator.Truncator (included) is a simple scikit-learn estimator for discarding extreme values.
from truncator import Truncator

handler = CHSIDataHandler('./chsi_dataset/', dependent='Health_Status', exclude_cols=['Unhealthy_Days', 'ALE'], threshold=0.9)

#Note that CHSIDataHandler takes care of choosing predictors and imputing missing values
X,Y = handler.training_data()

scaler = StandardScaler()

rcv = RidgeCV(alphas=[2**k for k in range(-35, 35)])

#Discard predictors > 20 sd from the mean
truncator = Truncator(-20, 20)

steps = [('scaler', scaler), ('truncator', truncator), ('rcv', rcv)]
pipe = Pipeline(steps=steps)

#Weight samples by population. It might be better to weight by the square of the population instead.
sample_weight = (X.Population_Size/X.Population_Size.sum()).values

pipe.fit(X,Y, rcv__sample_weight = sample_weight)
coef=list(zip(list(X.columns), list(pipe.steps[-1][1].coef_)))
coef.sort(key=lambda x: -abs(x[1]))
coef

[('Disabled_Medicare', 0.92375428507346125),
 ('No_Exercise', 0.83979067704618859),
 ('Sev_Work_Disabled', 0.71497272870103923),
 ('Diabetes', 0.71074518753729854),
 ('Poverty', 0.70608298072707187),
 ('Smoker', 0.38510121542298054),
 ('Obesity', 0.38270953016356846),
 ('Hispanic', 0.3012868676727577),
 ('Lung_Cancer', 0.25110852677599049),
 ('Uninsured', 0.25043405988616307),
 ('Age_65_84', 0.24466340117745383),
 ('F_Wh_HeartDis', 0.24057843982517707),
 ('Major_Depression', 0.23408350367274328),
 ('Under_18', 0.231365278133603),
 ('LBW', 0.20142005969164245),
 ('Unmarried', -0.19117724001564831),
 ('High_Blood_Pres', 0.18564106049195933),
 ('Age_85_and_Over', -0.17736719388077737),
 ('Black', -0.16621691734676658),
 ('Dentist_Rate', -0.16321922607925057),
 ('Stroke', 0.16218327901041568),
 ('White', 0.15942048906295614),
 ('Unemployed', 0.15775133642036826),
 ('D_Wh_Cancer', -0.15698232244727892),
 ('Pap_Smear', -0.15594475925989798),
 ('Asian', 0.15239988183711228),
 ('RHI_Lung_Cancer_Ind', -0.14144354097210582),
 ('F_Ot_Cancer', -0.13890166359833853),
 ('LBW_Ind', 0.13322135835719601),
 ('Stroke_Ind', 0.13320128699480699),
 ('RHI_IM_Wh_Non_Hisp_Ind', -0.13314745129675307),
 ('FluB_Rpt', 0.13194810760107722),
 ('RHI_Col_Cancer_Ind', 0.12945250103596306),
 ('Ecol_Rpt_Ind', 0.12871112405178209),
 ('RHI_Premature_Ind', -0.12835515963509789),
 ('HPSA_Ind', 0.12686028429706492),
 ('RHI_Over_40_Ind', 0.12324475546890079),
 ('Injury_Ind', -0.11862570991605595),
 ('Unmarried_Ind', 0.11760054797796049),
 ('Total_Deaths', 0.11447001826258379),
 ('All_Death', 0.11427404358243987),
 ('C_Wh_Injury', 0.11282408660552097),
 ('HepB_Rpt', 0.11180688803703873),
 ('Age_19_Under', -0.11043286759227808),
 ('E_Ot_HeartDis', -0.11011578737078179),
 ('Elderly_Medicare', -0.10919101348128779),
 ('Salm_Rpt_Ind', 0.1089505606730416),
 ('No_HS_Diploma', 0.10707906528243188),
 ('VLBW_Ind', 0.106970673431179),
 ('IM_Postneonatal_Ind', 0.10683371925238255),
 ('CHD', 0.10582605303997955),
 ('D_Hi_Injury', -0.10528117025762315),
 ('RHI_Infant_Mortality_Ind', 0.10483264502873237),
 ('Over_40', -0.1045196583255432),
 ('A_Wh_BirthDef', 0.10448855962685777),
 ('RHI_IM_Neonatal_Ind', -0.10362937081409443),
 ('Meas_Rpt', 0.10312955144675839),
 ('E_Ot_Cancer', 0.10163638158387556),
 ('CRS_Rpt', 0.10112929906099286),
 ('C_Wh_Suicide', -0.099858536617880217),
 ('RHI_Suicide_Ind', -0.098487255185473688),
 ('IM_Neonatal_Ind', 0.098274190158095798),
 ('Col_Cancer_Ind', 0.098191427189587163),
 ('F_Ot_HeartDis', 0.094595579125443224),
 ('Late_Care', -0.094525241616672973),
 ('Native_American', -0.092960891149046473),
 ('D_Wh_Injury', 0.088198036618735695),
 ('Ecol_Rpt', -0.087281955351932561),
 ('E_Hi_HeartDis', 0.08669686591719028),
 ('B_Wh_Injury', -0.084672706801141501),
 ('Age_19_64', -0.083682808494440777),
 ('RHI_Homicide_Ind', -0.0828935013967603),
 ('IM_Hisp_Ind', 0.081741117478117409),
 ('RHI_Stroke_Ind', -0.081305943088903904),
 ('HepA_Rpt', 0.080405543959607584),
 ('E_Wh_Cancer', -0.079996827506473009),
 ('F_Wh_Cancer', -0.079675872431658731),
 ('Population_Density', 0.07951607645899994),
 ('C_Bl_Homicide', -0.079137902488029988),
 ('RHI_Injury_Ind', 0.075606827060498122),
 ('RHI_Under_18_Ind', -0.075604862950128304),
 ('HepA_Ind', 0.074730549621294384),
 ('Total_Births', -0.073650416422359852),
 ('RHI_Brst_Cancer_Ind', -0.073421962155487769),
 ('IM_Neonatal', 0.072884778024788238),
 ('MVA_Ind', -0.072308577572138294),
 ('Prim_Care_Phys_Rate', -0.072250370999994762),
 ('Premature_Ind', 0.070573104620833549),
 ('IM_Bl_Non_Hisp_Ind', 0.067845929510608277),
 ('Recent_Drug_Use', -0.066966372488490633),
 ('Injury', 0.066735980511839432),
 ('A_Wh_Comp', 0.06609227336632717),
 ('Homicide', -0.065427694303158451),
 ('RHI_IM_Hisp_Ind', 0.06097298514415278),
 ('D_Bl_HeartDis', -0.060557228481976949),
 ('C_Bl_Injury', 0.059619418314334094),
 ('Late_Care_Ind', 0.059209054966746506),
 ('RHI_Late_Care_Ind', -0.055986449670558713),
 ('MVA', 0.053549315858779881),
 ('Pert_Rpt', 0.052509220328838535),
 ('Salm_Rpt', 0.051455979373976612),
 ('Infant_Mortality', 0.051017050612432058),
 ('E_Hi_Cancer', 0.050805777462373664),
 ('D_Wh_HeartDis', -0.048463512916703144),
 ('Homicide_Ind', -0.04741828006039106),
 ('D_Bl_Homicide', 0.045738777696612942),
 ('Syphilis_Rpt', 0.045656889175086979),
 ('VLBW', 0.044394223341008232),
 ('Infant_Mortality_Ind', 0.044018826230167479),
 ('Population_Size', 0.042374440943272862),
 ('D_Bl_HIV', -0.041295306658559516),
 ('RHI_Unmarried_Ind', 0.041021377657433689),
 ('Shig_Rpt_Ind', 0.04034575730911516),
 ('RHI_VLBW_Ind', -0.03805682998999893),
 ('Meas_Ind', 0.037480544846349995),
 ('F_Bl_HeartDis', 0.037006051295977158),
 ('F_Hi_Cancer', -0.036397946610439907),
 ('Brst_Cancer', -0.033943129483380283),
 ('Proctoscopy', -0.03330844959864887),
 ('FluB_Ind', -0.031819925703118923),
 ('Brst_Cancer_Ind', 0.031255264745315037),
 ('E_Bl_Cancer', 0.030254378374803714),
 ('F_Hi_HeartDis', -0.03022816584787541),
 ('IM_Postneonatal', -0.028959621063234797),
 ('Suicide_Ind', 0.02890720136215516),
 ('IM_Hisp', 0.028139958671210774),
 ('E_Wh_HeartDis', -0.026882902641251816),
 ('RHI_MVA_Ind', -0.025399640278139762),
 ('D_Bl_Cancer', -0.024606580007990375),
 ('F_Bl_Cancer', -0.024057828460072761),
 ('Pneumo_Vax', -0.023248077162415948),
 ('Col_Cancer', 0.023186824436661646),
 ('RHI_IM_Bl_Non_Hisp_Ind', 0.022701463665956934),
 ('Particulate_Matter_Ind', -0.022322552689849777),
 ('RHI_LBW_Ind', 0.02145759210005066),
 ('Flu_Vac', -0.020049516452643634),
 ('RHI_IM_Postneonatal_Ind', -0.019333575976554218),
 ('Shig_Rpt', -0.019076966586220406),
 ('CHD_Ind', 0.01795038154305259),
 ('IM_Wh_Non_Hisp', -0.017088696081123136),
 ('IM_Bl_Non_Hisp', 0.016754674579429328),
 ('Premature', -0.016525310748441047),
 ('Under_18_Ind', 0.015134500255469002),
 ('D_Bl_Injury', 0.014272971427924407),
 ('Toxic_Chem', -0.012932175405709012),
 ('D_Wh_Suicide', -0.012681433497336414),
 ('Mammogram', -0.012667532620718014),
 ('HepB_Ind', -0.012501950967324704),
 ('Suicide', -0.012404473798981019),
 ('Pert_Ind', -0.0096310136234035171),
 ('IM_Wh_Non_Hisp_Ind', 0.0071033417329061793),
 ('Over_40_Ind', 0.0069627569610945517),
 ('A_Bl_Comp', 0.0051276207669762042),
 ('Few_Fruit_Veg', 0.0046167461418763489),
 ('E_Bl_HeartDis', 0.0043311533014109005),
 ('Lung_Cancer_Ind', 0.0040773304659076359),
 ('Community_Health_Center_Ind', -0.0038777689091839262),
 ('RHI_CHD_Ind', -0.0024537601195693814),
 ('Syphilis_Ind', 0.0018527017228160969),
 ('Ozone_Ind', -0.00064685819587190219),
 ('Lead_Ind', 7.4315570119720187e-05),
 ('CRS_Ind', 6.4689483052389609e-05),
 ('Carbon_Monoxide_Ind', 1.9745566660947801e-05),
 ('Nitrogen_Dioxide_Ind', 0.0),
 ('Sulfur_Dioxide_Ind', 0.0)]

In [2]:
#A utility function which orders the states by their values for a particular indicator.
def sorted_states(handler, columns):
    state, _ = handler.state_us_averages(columns)
    result = {}
    for column in columns:
        disp_cols = ['CHSI_State_Name', 'CHSI_State_Abbr', column, column + '_Not_Null']
        yield state[disp_cols].sort_values(by=column, axis=0, ascending=False)

In [6]:
from IPython.display import display
from collections import Counter

all_states = []

columns = ['Disabled_Medicare', 'Sev_Work_Disabled', 'No_Exercise', 'Diabetes', 'Obesity', 'Poverty', 'Unemployed', 'Smoker', 'Lung_Cancer', 'Age_65_84']
#Identify states that are > 1 std above mean in several of these areas
for column, states in zip(columns, sorted_states(handler, columns)):
    mean = states[column].mean()
    std = states[column].std()
    print(column, mean, std, mean+std)
    over = states[states[column] > mean+std]
    all_states += list(over.CHSI_State_Abbr)
    display(over)

#Get the number of drivers for which each state is above mean+std
counter = Counter(all_states)
sorted(list(counter.items()), key=lambda x: -x[1])

Disabled_Medicare 2.12103312247 0.63572776339 2.75676088586

,CHSI_State_Name,CHSI_State_Abbr,Disabled_Medicare,Disabled_Medicare_Not_Null
State_FIPS_Code,,,,
54,West Virginia,WV,4.196205,100
21,Kentucky,KY,3.576145,100
28,Mississippi,MS,3.461450,100
1,Alabama,AL,3.302487,100
5,Arkansas,AR,3.246204,100
23,Maine,ME,3.187124,100
47,Tennessee,TN,2.838524,100
45,South Carolina,SC,2.832236,100

Sev_Work_Disabled 2.75681908654 1.49707938696 4.2538984735

,CHSI_State_Name,CHSI_State_Abbr,Sev_Work_Disabled,Sev_Work_Disabled_Not_Null
State_FIPS_Code,,,,
12,Florida,FL,11.257382,100
54,West Virginia,WV,5.990568,100
21,Kentucky,KY,5.134441,100

No_Exercise 23.8313260351 3.88738598274 27.7187120178

,CHSI_State_Name,CHSI_State_Abbr,No_Exercise,No_Exercise_Not_Null
State_FIPS_Code,,,,
22,Louisiana,LA,32.418870,97.947908
28,Mississippi,MS,31.658459,95.361831
21,Kentucky,KY,31.363717,94.313924
40,Oklahoma,OK,30.591589,98.342646
47,Tennessee,TN,30.483715,87.169809
1,Alabama,AL,28.782540,89.411050
54,West Virginia,WV,28.350663,97.391428
5,Arkansas,AR,28.224240,96.150087

Diabetes 6.93682380837 1.08899786689 8.02582167527

                CHSI_State_Name CHSI_State_Abbr  Diabetes  Diabetes_Not_Null
State_FIPS_Code
54                West Virginia              WV  9.955979         100.000000
28                  Mississippi              MS  9.486436          99.730374
1                       Alabama              AL  8.758080          99.206790
45               South Carolina              SC  8.739645          99.762449
47                    Tennessee              TN  8.594561          97.717308
22                    Louisiana              LA  8.040127         100.000000

Obesity 22.2663623273 2.43239119668 24.698753524

                CHSI_State_Name CHSI_State_Abbr    Obesity  Obesity_Not_Null
State_FIPS_Code
28                  Mississippi              MS  27.954392         95.016788
54                West Virginia              WV  27.224912         97.579280
1                       Alabama              AL  25.978219         89.649015
22                    Louisiana              LA  25.852216         98.405638
21                     Kentucky              KY  25.363527         94.127026
45               South Carolina              SC  25.220158         99.505885
47                    Tennessee              TN  25.001001         85.683299
26                     Michigan              MI  24.982953         96.569946
18                      Indiana              IN  24.969432         97.777637

Poverty 11.9920682426 2.86483857767 14.8569068202

,CHSI_State_Name,CHSI_State_Abbr,Poverty,Poverty_Not_Null
State_FIPS_Code,,,,
28,Mississippi,MS,18.298758,100
22,Louisiana,LA,18.070322,100
35,New Mexico,NM,17.670339,100
11,District of Columbia,DC,17.500000,100
54,West Virginia,WV,16.273506,100
48,Texas,TX,16.200140,100
5,Arkansas,AR,16.018307,100
1,Alabama,AL,15.233088,100
21,Kentucky,KY,14.915699,100

Unemployed 2.50917694991 0.490202826496 2.99937977641

,CHSI_State_Name,CHSI_State_Abbr,Unemployed,Unemployed_Not_Null
State_FIPS_Code,,,,
28,Mississippi,MS,3.629367,100.000000
11,District of Columbia,DC,3.480158,100.000000
2,Alaska,AK,3.468036,100.000000
26,Michigan,MI,3.395324,100.000000
45,South Carolina,SC,3.331968,100.000000
22,Louisiana,LA,3.184260,70.833875
41,Oregon,OR,3.139034,100.000000
39,Ohio,OH,3.051960,100.000000

Smoker 21.8315008737 2.9465442923 24.778045166

                CHSI_State_Name CHSI_State_Abbr     Smoker  Smoker_Not_Null
State_FIPS_Code
21                     Kentucky              KY  29.410825        93.033315
54                West Virginia              WV  27.009856        98.697420
18                      Indiana              IN  26.148913        98.336823
40                     Oklahoma              OK  25.617330        97.994748
32                       Nevada              NV  25.136636        99.476190
28                  Mississippi              MS  24.929532        96.441394
29                     Missouri              MO  24.899274        92.288688

Lung_Cancer 55.1894140728 9.43263975973 64.6220538325

,CHSI_State_Name,CHSI_State_Abbr,Lung_Cancer,Lung_Cancer_Not_Null
State_FIPS_Code,,,,
21,Kentucky,KY,78.829813,100
54,West Virginia,WV,71.284505,100
5,Arkansas,AR,68.544220,100
28,Mississippi,MS,68.228362,100
47,Tennessee,TN,67.879029,100
22,Louisiana,LA,66.921496,100
18,Indiana,IN,64.872697,100

Age_65_84 10.8392516871 1.37976218057 12.2190138677

                CHSI_State_Name CHSI_State_Abbr  Age_65_84  Age_65_84_Not_Null
State_FIPS_Code
12                      Florida              FL  14.583083                 100
54                West Virginia              WV  13.512982                 100
42                 Pennsylvania              PA  12.761648                 100
23                        Maine              ME  12.608924                 100

[('WV', 9),
 ('MS', 8),
 ('KY', 7),
 ('LA', 6),
 ('TN', 5),
 ('AL', 5),
 ('SC', 4),
 ('AR', 4),
 ('IN', 3),
 ('FL', 2),
 ('OK', 2),
 ('ME', 2),
 ('MI', 2),
 ('DC', 2),
 ('NM', 1),
 ('TX', 1),
 ('NV', 1),
 ('AK', 1),
 ('MO', 1),
 ('OH', 1),
 ('OR', 1),
 ('PA', 1)]